$boxBgColor:#1c3352  ;
$fontColor:#d4e7ff;

.map {
    width: 100%;
    height: 100%;
    background: #233c5f;
    position: relative;
}

.p-0 {
    padding: 0 !important
}

.map-detail {
    width: 120px;
    height: 76px;
    text-align: center;
    padding: 21px 0;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    background: url('/img/home-detail.png') no-repeat;

    img {
        margin-right: 5px;
    }

    span {
        vertical-align: bottom;
        display: inline-block;
        color: #fff;
    }
}

.right-jdzb {
    width: 500px;
    background: rgba(149, 209, 255, .06);
    box-shadow: 0 0 14px rgba(0, 0, 0, .16);
    height: calc(100% - 30px);
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0 15px 15px;

    .jdzb-title {
        text-align: center;
        line-height: 40px;
        height: 40px;

        &::before {
            content: "";
            width: 66px;
            height: 16px;
            display: inline-block;
            background: url('/img/title-arr-left.png')no-repeat;
        }

        &::after {
            content: "";
            width: 66px;
            height: 16px;
            display: inline-block;
            background: url('/img/title-arr-right.png')no-repeat;
        }

        span {
            color: #fff;
            font-size: 16px;
            display: inline-block;
            padding: 0 15px;
        }
    }

    .jdzb-content {
        height: calc(100% - 40px);
    }

    .jdzb-content-box {
        background: rgba(12, 23, 43, 0.8);
        box-shadow: 0 0 16px rgba(12, 23, 43, .8) inset;
        width: 100%;
        padding: 15px 10px;
        height: calc(25% - 11px);

        p {
            font-size: 14px;
            margin-bottom: 2px;
            color: #fff;
        }

        big {
            font-size: 24px;
            color: #fff;
            text-shadow: 1px 0px 1px #0e5bdd, 0px 1px 1px #0e5bdd, 0px 1px 1px #0e5bdd;
            display: inline-block;
            width: 70px;
        }

        small {
            float: right;
            display: inline-block;
            vertical-align: bottom;
            margin-top: 10px;
        }

        .jdzb-box {
            padding: 10px;
            background: url(/img/borders.png)no-repeat;
            background-size: 100% 100%;
            height: calc(50% - 6px);
            display: inline-block;
            width: calc(33% - 15px);
            margin: 0 6px;
        }

        .jdzb-box1 {
            margin-top: 10px;
            background: url(/img/border2.png)no-repeat;
            background-size: 100% 100%;
        }
    }
}

.border-box {
    padding: 10px;
    background: url(/img/borders.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 6px;

    &.greenBorder {
        background: url(/img/border2.png)no-repeat;
        background-size: 100% 100%;
    }

    p {
        font-size: 14px;
        margin-bottom: 2px;
    }
.jdzb-box-data{
    display: flex;
    width: 100%;
}
    big {
        font-size: 24px;
        color: #fff;
        flex: 1;
        // text-shadow: 1px 0px 1px #0e5bdd, 0px 1px 1px #0e5bdd, 0px 1px 1px #0e5bdd;
    }

    small {
        width: 4em;
        text-align: right;
        white-space: nowrap;
        //float: right;
        display: inline-block;
        vertical-align: bottom;
        margin-top: 10px;
    }
}

.profile-box-bg {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.profile-title {
    height: 42px;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    big {
        font-size: 24px;
        color: #fff;
        display: inline-block;
        margin: 0 auto;
        text-shadow: 1px 0px 1px #0e5bdd, 0px 1px 1px #0e5bdd, 0px 1px 1px #0e5bdd;
    }

    span {
        position: absolute;
        right: 0;
        // top: 10px;
        // line-height: 5px;
        color: $fontColor;
        cursor: pointer;
        font-size: 16px;

        img {
            margin-right: 10px;
        }
    }

    .el-input__icon {
        line-height: 8px;
    }
}

.myDropDown {
    position: absolute;
    left: 0;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: left;

    .el-dropdown-link {
        background: rgba(26, 65, 121, .5);
        border: solid 1px rgba(25, 112, 255, .5);
        padding: 0 10px;
        width: 100%;
        color: #00f3ff;
        cursor: pointer;

        font,
        i {
            color: $fontColor;
        }

        i {
            float: right;
            margin-top: 12px;
        }

        img {
            margin-top: -3px;
            margin-right: 5px;
        }

        cite {
            font-style: normal;
        }
    }
}

.echarts-title {
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    color: #000;
    background:  #fff;
    border-bottom: 1px solid #d2d2d2;
}

.header-b-l {
    height: 30px;
    line-height: 30px;
    // border-left: 1px solid #2b4870;
    padding: 0 15px;
}

.profile-content {
    height: calc(100% - 70px);
    .is-horizontal {
        display: none;
    }
}
.el-dialog{

    .el-button--primary {
        color: #fff;
        background-color: #1bac6b;
        border-color: #1bac6b;
    }
    .el-button--primary.is-plain {
        color: #1bac6b;
        background: #ecf5ff;
        border-color: #1bac6b;
    }
    .el-button--primary.is-plain:hover{
        color: #1bac6b !important;
    }
    .el-button--default:hover{
        color: #606266 !important;
    }
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: #1bac6b!important;
    background-color: #1bac6b !important;
}
@media only screen and (min-width: 1600px){
    .min1600{
    .el-col-xl-0 {
        display: none; }
    .el-col-xl-0 {
        width: 0%; }
    .el-col-xl-offset-0 {
        margin-left: 0%; }
    .el-col-xl-pull-0 {
        position: relative;
        right: 0%; }
    .el-col-xl-push-0 {
        position: relative;
        left: 0%; }
    .el-col-xl-1 {
        width: 4.16667%; }
    .el-col-xl-offset-1 {
        margin-left: 4.16667%; }
    .el-col-xl-pull-1 {
        position: relative;
        right: 4.16667%; }
    .el-col-xl-push-1 {
        position: relative;
        left: 4.16667%; }
    .el-col-xl-2 {
        width: 8.33333%; }
    .el-col-xl-offset-2 {
        margin-left: 8.33333%; }
    .el-col-xl-pull-2 {
        position: relative;
        right: 8.33333%; }
    .el-col-xl-push-2 {
        position: relative;
        left: 8.33333%; }
    .el-col-xl-3 {
        width: 12.5%; }
    .el-col-xl-offset-3 {
        margin-left: 12.5%; }
    .el-col-xl-pull-3 {
        position: relative;
        right: 12.5%; }
    .el-col-xl-push-3 {
        position: relative;
        left: 12.5%; }
    .el-col-xl-4 {
        width: 16.66667%; }
    .el-col-xl-offset-4 {
        margin-left: 16.66667%; }
    .el-col-xl-pull-4 {
        position: relative;
        right: 16.66667%; }
    .el-col-xl-push-4 {
        position: relative;
        left: 16.66667%; }
    .el-col-xl-5 {
        width: 20.83333%; }
    .el-col-xl-offset-5 {
        margin-left: 20.83333%; }
    .el-col-xl-pull-5 {
        position: relative;
        right: 20.83333%; }
    .el-col-xl-push-5 {
        position: relative;
        left: 20.83333%; }
    .el-col-xl-6 {
        width: 25%; }
    .el-col-xl-offset-6 {
        margin-left: 25%; }
    .el-col-xl-pull-6 {
        position: relative;
        right: 25%; }
    .el-col-xl-push-6 {
        position: relative;
        left: 25%; }
    .el-col-xl-7 {
        width: 29.16667%; }
    .el-col-xl-offset-7 {
        margin-left: 29.16667%; }
    .el-col-xl-pull-7 {
        position: relative;
        right: 29.16667%; }
    .el-col-xl-push-7 {
        position: relative;
        left: 29.16667%; }
    .el-col-xl-8 {
        width: 33.33333%; }
    .el-col-xl-offset-8 {
        margin-left: 33.33333%; }
    .el-col-xl-pull-8 {
        position: relative;
        right: 33.33333%; }
    .el-col-xl-push-8 {
        position: relative;
        left: 33.33333%; }
    .el-col-xl-9 {
        width: 37.5%; }
    .el-col-xl-offset-9 {
        margin-left: 37.5%; }
    .el-col-xl-pull-9 {
        position: relative;
        right: 37.5%; }
    .el-col-xl-push-9 {
        position: relative;
        left: 37.5%; }
    .el-col-xl-10 {
        width: 41.66667%; }
    .el-col-xl-offset-10 {
        margin-left: 41.66667%; }
    .el-col-xl-pull-10 {
        position: relative;
        right: 41.66667%; }
    .el-col-xl-push-10 {
        position: relative;
        left: 41.66667%; }
    .el-col-xl-11 {
        width: 45.83333%; }
    .el-col-xl-offset-11 {
        margin-left: 45.83333%; }
    .el-col-xl-pull-11 {
        position: relative;
        right: 45.83333%; }
    .el-col-xl-push-11 {
        position: relative;
        left: 45.83333%; }
    .el-col-xl-12 {
        width: 50%; }
    .el-col-xl-offset-12 {
        margin-left: 50%; }
    .el-col-xl-pull-12 {
        position: relative;
        right: 50%; }
    .el-col-xl-push-12 {
        position: relative;
        left: 50%; }
    .el-col-xl-13 {
        width: 54.16667%; }
    .el-col-xl-offset-13 {
        margin-left: 54.16667%; }
    .el-col-xl-pull-13 {
        position: relative;
        right: 54.16667%; }
    .el-col-xl-push-13 {
        position: relative;
        left: 54.16667%; }
    .el-col-xl-14 {
        width: 58.33333%; }
    .el-col-xl-offset-14 {
        margin-left: 58.33333%; }
    .el-col-xl-pull-14 {
        position: relative;
        right: 58.33333%; }
    .el-col-xl-push-14 {
        position: relative;
        left: 58.33333%; }
    .el-col-xl-15 {
        width: 62.5%; }
    .el-col-xl-offset-15 {
        margin-left: 62.5%; }
    .el-col-xl-pull-15 {
        position: relative;
        right: 62.5%; }
    .el-col-xl-push-15 {
        position: relative;
        left: 62.5%; }
    .el-col-xl-16 {
        width: 66.66667%; }
    .el-col-xl-offset-16 {
        margin-left: 66.66667%; }
    .el-col-xl-pull-16 {
        position: relative;
        right: 66.66667%; }
    .el-col-xl-push-16 {
        position: relative;
        left: 66.66667%; }
    .el-col-xl-17 {
        width: 70.83333%; }
    .el-col-xl-offset-17 {
        margin-left: 70.83333%; }
    .el-col-xl-pull-17 {
        position: relative;
        right: 70.83333%; }
    .el-col-xl-push-17 {
        position: relative;
        left: 70.83333%; }
    .el-col-xl-18 {
        width: 75%; }
    .el-col-xl-offset-18 {
        margin-left: 75%; }
    .el-col-xl-pull-18 {
        position: relative;
        right: 75%; }
    .el-col-xl-push-18 {
        position: relative;
        left: 75%; }
    .el-col-xl-19 {
        width: 79.16667%; }
    .el-col-xl-offset-19 {
        margin-left: 79.16667%; }
    .el-col-xl-pull-19 {
        position: relative;
        right: 79.16667%; }
    .el-col-xl-push-19 {
        position: relative;
        left: 79.16667%; }
    .el-col-xl-20 {
        width: 83.33333%; }
    .el-col-xl-offset-20 {
        margin-left: 83.33333%; }
    .el-col-xl-pull-20 {
        position: relative;
        right: 83.33333%; }
    .el-col-xl-push-20 {
        position: relative;
        left: 83.33333%; }
    .el-col-xl-21 {
        width: 87.5%; }
    .el-col-xl-offset-21 {
        margin-left: 87.5%; }
    .el-col-xl-pull-21 {
        position: relative;
        right: 87.5%; }
    .el-col-xl-push-21 {
        position: relative;
        left: 87.5%; }
    .el-col-xl-22 {
        width: 91.66667%; }
    .el-col-xl-offset-22 {
        margin-left: 91.66667%; }
    .el-col-xl-pull-22 {
        position: relative;
        right: 91.66667%; }
    .el-col-xl-push-22 {
        position: relative;
        left: 91.66667%; }
    .el-col-xl-23 {
        width: 95.83333%; }
    .el-col-xl-offset-23 {
        margin-left: 95.83333%; }
    .el-col-xl-pull-23 {
        position: relative;
        right: 95.83333%; }
    .el-col-xl-push-23 {
        position: relative;
        left: 95.83333%; }
    .el-col-xl-24 {
        width: 100%; }
    .el-col-xl-offset-24 {
        margin-left: 100%; }
    .el-col-xl-pull-24 {
        position: relative;
        right: 100%; }
    .el-col-xl-push-24 {
        position: relative;
        left: 100%; }
    }
}
